@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.foodiegram-bg {
    height: 100vh;
    background: fixed linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://cdn.discordapp.com/attachments/734750766895595581/848359437122666516/cute-food-icon-doodle-background_57490-171.jpg);
}

.foodiegram-bg2 {
    width: 100%;
    height: 100%;
    background: fixed linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://cdn.discordapp.com/attachments/734750766895595581/848359437122666516/cute-food-icon-doodle-background_57490-171.jpg);
    box-sizing: border-box;

}

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#navbar-separator1 {
    width: 100%;
    height: 6rem;
    display: block;
}

#navbar-separator2 {
    display: block;
    width: 100%;
    height: calc(12rem + 5px);
}

.bi {
    margin: 0;
}
.user-images {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    grid-gap: 20px;
}

.post-card {
    width:200px;
    height:350px;
    border-radius: 10px;
    border: none;
    background-color: #343a40;
    color: white;
}

.post-card-top {
    width: 100%;
    height: 60%;
}

.post-card-image {
    padding:0;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 0, 0;

    border-radius: 10px;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    z-index: 1;
}
.post-card-bottom {
    box-sizing: border-box;
    padding: 10px;
    height: 40%;
    font-size: 1.5rem;

    font-family: Arial, monospace;
}
.card-text {
    overflow: hidden;
    margin: 0;
    font-size: 1rem;
}

#post-modal {
    position: absolute;
    width: auto;
    height: 70vh;
    top: 12.5%;
    display:flex;
    justify-content: center;
}

/*#post-modal-imageD {*/
/*    max-width: 70%;*/
/*    max-height: 100%;*/
/*}*/

#post-modal-image-container {
    height: 100%;
    max-height: 100%;
}

#post-modal-image {
    width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
}


#post-modal-right {
    width: 15%;
    background-color: rgb(255,255,255);
    border-left: 1px solid lightgray;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#post-modal-details {
    width: 100%;
    height:30%;
    border-bottom: 1px solid lightgray;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
}

#post-modal-footer {
    width: 100%;
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
}

#post-modal{
    margin: 0;
}

#post-modal-title-div {
    width: 100%;
    height: 1.2rem;
}
#post-modal-title {
    font-size: 1.1rem;
    margin: 0;
    font-weight: bold;
}
#post-modal-text-div {
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 8px;
    border-bottom: 1px solid lightcyan;
}

#post-modal-ratings-container {
    width: 100%;
    height: 2rem;
    bottom: 0;
    display: flex;
}

.post-modal-ratings-half {
    height: 100%;
    flex: 1;
}

.post-modal-ratings-quarter {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
}


#post-modal-text {
    margin: 0;
    font-family: Arial,serif;
    font-size: 0.9rem;
}

#post-modal-ratings {
    font-family: Arial,serif;
    margin-left: 5px;
}

#post-modal-date {
    font-family: Arial,serif;
    font-size: smaller;
    right: 5px;
    position: absolute;
    margin: 0 0 0 5px;
}

#post-modal-loc {
    font-family: Arial,serif;
    font-size: smaller;
    right: 5px;
    position: absolute;
    margin: 0 0 0 5px;
}
#post-modal-ratings {
    margin: 0;
}

#post-modal-stars {
    padding-left: 5px;
}

#post-modal-comments-container {
    width: 100%;
    height:60%;
}

#post-modal-comments {
    list-style: none;
    padding-left: 0;
    padding-top: 5px;
    margin: 0;
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 5px);
}

.comment-pfp {

    max-width: min(75%, 30px);
    max-height: min(75%, 30px);
    border-radius: 50%;
}

.username {
    color: black;
}

.comment {
    color: gray;
}

#post-modal-comment-input {
    width: 100%;
    height:10%;
    display: flex;
    border-top: lightgray 1px solid;
    padding: 0;

}

#post-modal-comment-input-field {
    width: 100%;
    height: 100%;
    border: none;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 5px;
    font-size: 1rem;
}

#page-mask {
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: none;
    justify-content: center;

}

#post-modal-send-button-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-modal-send-button {
    font-size: 180%;
    cursor: pointer;
    z-index: 3;
}

#post-modal-send-button:hover {

    color: cornflowerblue;
}



.form-control:focus {

    box-shadow: none;
}

::-webkit-scrollbar {
    width: 3px;

}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navbar {
    background-color: #343a40;
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    z-index: 10;
}

.navbar-nav {

    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    height: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.userPic {
    aspect-ratio: 1/1;
    height: 3rem;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-item:first-child {
    justify-content: flex-start;
}

.nav-item:last-child {

    justify-content: flex-end;
}

.nav-icon {
    margin-left: 10px;
    margin-right: 10px;
    transition: 200ms ease;
    color: white;
}

.nav-icon:hover {
    color: cornflowerblue;
    font-size: 3rem;
}

.brand {
    color: white;
    font-family: Pacifico, monospace;
}

.bi-star {
    margin-top: 0;
}

#searchBar {
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 2px;
    height: 2rem;
}

#searchBar:focus {
    box-shadow: none;
    border: none;
}

#searchButton {
    margin: 10px;
    cursor: pointer;
    color: white;
    transition: 200ms ease;
}

#searchButton:hover {
    font-size: 3rem;
    color: cornflowerblue;
}

#mobileUser {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    font-size: 3rem;
    height: 5rem;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
    color: white;
    z-index: 10;
}

@media only screen and (max-width: 1200px) {

    ::-webkit-scrollbar {
        width: 0;
    }

    #mobileUser {
        display: flex;
    }

    .navbar {
        top: unset;
        bottom: 0;
        height: 9rem;
        font-size: 5rem;
        padding-bottom: 3rem;
        border-top: 2px gray solid;
    }

    .navbar-nav {
        width: 90%;
    }

    #primaryUser {
        display: none;
    }

    .post-card {
        width: calc(33.333vw - 10px);
    }

    .user-images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-gap: 5px;

        user-select: none;
        -webkit-touch-callout: none;
    }

    .nav-item {
        flex: 1;
    }

    .nav-item:first-child {
        display: none;
    }

    .nav-item:last-child {
        justify-content: space-between;
    }

    .nav-icon:hover {
        font-size: 6rem;
    }

    #searchButton:hover {
        font-size: 6rem;
    }

    .post-card {
        height: 500px;
    }

    .post-card-image{
        border-radius: 0;
    }

    .post-card-top {
        height: 70%;
    }

    .post-card-bottom {
        height: 30%;
        background-color: #888888;
    }

    .card-text {
        font-size: 1.5rem;
    }

    .foodiegram-bg2 {
       background: #343a40;
    }

    #post-modal {
        position: fixed;
        width: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        top: 5rem;
        height: calc(100% - 17rem);
        left: 0;
        padding-bottom: 0;
    }

    #post-modal-details {
        font-size: 2rem;
        height: 100%;
        border-bottom: none;
        display: flex;
        flex-direction: column;
    }

    #post-modal-footer {
        height: 100%;
    }

    #post-modal-title-div {
        height: 3.2rem;
        width: 100%;
    }

    #post-modal-title{
        font-size: 2.4rem;
        margin: 0;
    }

    #post-modal-text {
        font-size: 2rem;
        margin: 0;
    }


    #post-modal-image {
        width: 100%;
        max-height: 100%;
        height: auto;
        display: block;
        object-fit: scale-down;
        object-position: 50% 50%;
    }

    #post-modal-imageD {
        display: none;
    }


    #post-modal-right {
        width: 100%;
        padding: 5px;
        flex-grow: 1;
        box-sizing: border-box;
    }

   #post-modal-image-container {
       height: auto;
       max-height: 75%;
       display: block;
       width: 100%;

   }

   #post-modal-comments-container {
       display: none;
   }

   #post-modal-comment-input {
       display: none;
   }

    #post-modal-ratings-container {
        width: 100%;
        height: 10rem;
        display: flex;
        border: none;
    }

    #post-modal-text-div {
        flex-grow: 1;
    }

    .post-modal-ratings-quarter{
        font-size: 3rem;
    }
}

