.foodiegram-bg {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://cdn.discordapp.com/attachments/734750766895595581/848359437122666516/cute-food-icon-doodle-background_57490-171.jpg);
    background-attachment: fixed;
}

.user-images {
    max-width: 101%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    grid-gap: 20px;
}

.post-card {
    width:200px;
    height:350px;
    border-radius: 10px;
    border: none;
}

.post-card-image {
    padding:0;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 0, 0;

    border-radius: 10px;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    z-index: 1;
}

#post-modal {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 20%;
    display:flex;
    justify-content: center;
}

#post-modal-image {
    max-width: 70%;
    max-height: 100%;
}

#post-modal-details {
    width: 100%;
    height:25%;
    position: relative;
    border-bottom: 1px solid lightgray;
}

#post-modal-right {
    width: 15%;
    background-color: rgb(255,255,255);
    border-left: 1px solid lightgray;
    min-width: 230px;
}


#post-modal-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial,serif;
}

#post-modal-ratings {
    font-family: Arial,serif;
    margin-left: 5px;
}

#post-modal-date {
    font-family: Arial,serif;
    font-size: smaller;
    right: 5px;
    position: absolute;
}

#post-modal-loc {
    font-family: Arial,serif;
    font-size: smaller;
    right: 5px;
    position: absolute;
}

#post-modal-comments-container {
    width: 100%;
    height:65%;
}

#post-modal-comments {
    list-style: none;
    padding:0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.comment-pfp {

    max-width: min(75%, 30px);
    max-height: min(75%, 30px);
    border-radius: 50%;
}

.username {
    color: black;
}

.comment {
    color: gray;
}

#post-modal-comment-input {
    width: 100%;
    height:10%;
    display: flex;
    border-top: lightgray 1px solid;
}

#page-mask {
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: none;
    justify-content: center;

}

#post-modal-send-button-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-modal-send-button {
    font-size: 180%;
    cursor: pointer;
    z-index: 3;
}

#post-modal-send-button:hover {

    color: cornflowerblue;
}

.nav-item {
    transform: translateY(4px);
}

.form-control:focus {

    box-shadow: none;
}

::-webkit-scrollbar {
    width: 3px;

}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navbar {
    background-color: #343a40;
    position: fixed;
    width: 100vw;
    height: 4rem;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.navbar-nav {

    width: 70vw;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;º
}



.nav-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-1px);
}

.nav-item:first-child {

    justify-content: flex-start;
}

.nav-item:last-child {

    justify-content: flex-end;
}

.nav-icon {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    transition: 200ms ease;
}

.nav-icon:hover {
    color: cornflowerblue;
    font-size: 3rem;
}

.brand {
    color: white;
}

#searchBar {
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 2px;
    height: 2rem;
}

#searchBar:focus {
    box-shadow: none;
    border: none;
}

#searchButton {
    margin: 10px;
    cursor: pointer;
    color: white;
    transition: 200ms ease;
}

#searchButton:hover {
    font-size: 3rem;
    color: cornflowerblue;

}


@media only screen and (max-width: 1200px) {

    .navbar {
        top: unset;
        bottom: 0;

    }

    .navbar-nav {
        width: 100vw;
        padding-left: 10px;
        padding-right: 10px;
    }
}