<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PersonalPage</title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>

    <link rel="stylesheet"  href="/css/styles.css"/>
    <script src="/js/postClick.js"></script>

    <meta name='viewport'
          content='width=device-width, initial-scale=0.4, maximum-scale=0.4, user-scalable=no' >

</head>
<body class="foodiegram-bg2">
<!-- Navigation -->

<script>
    function deleteCookies() {
        document.cookie = "loggedIn=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
    }
</script>

<nav id="mobileUser">


    <img class="userPic" th:src="${user.image}"/>
    <p th:text="${user.name}" style="margin: 0;"></p>


</nav>

<nav class="navbar">

    <ul class="navbar-nav">

        <li class="nav-item">
            <h1 class="brand" style="font-size: 2rem;">Foodiegram.</h1>
        </li>

        <li id="primaryUser" class="userInfo nav-item">
            <img class="userPic" th:src="${user.image}"/>
            <p th:text="${user.name}"></p>
        </li>

        <li class="nav-item">

            <a id="searchButton" onclick="buscar(this)">
                <h4 class="bi bi-search"></h4>

                <div class="searchResults">

                </div>
            </a>

            <a class="nav-icon" th:href="@{/pruebas/upload}">
                <h4 class="bi bi-upload"></h4>
            </a>

            <a class="nav-icon" th:href="@{/pruebas/friends}">
                <h4 class="bi bi-people"></h4>
            </a>

            <a class="nav-icon" onclick="deleteCookies()" th:href="@{/pruebas}">
                <h4 class="bi bi-gear-wide-connected"></h4 >
            </a>

        </li>
    </ul>


</nav>

<div id="navbar-separator1">

</div>


<!-- Page Content -->


    <div id="page-mask">

        <div id="post-modal"style="width: 100%; overflow-y: scroll;">

            <div id="post-modal-image-container">
                <img class="modal-click-box" id="post-modal-image"/>
            </div>

            <div class="modal-click-box" id="post-modal-right">

                <div id="post-modal-details">

                    <div id="post-modal-footer">

                        <div id="post-modal-title-div">
                            <p id="post-modal-title"></p>
                        </div>

                        <div id="post-modal-text-div">
                            <p id="post-modal-text"></p>
                        </div>

                    </div>

                    <div id="post-modal-ratings-container">

                        <div class="post-modal-ratings-half">

                            <div class="post-modal-ratings-quarter">
                                <p id="post-modal-ratings"></p>
                            </div>

                            <div id="post-modals-stars" class="post-modal-ratings-quarter" >

                                <i onclick="setRating(this)" id="star1" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>
                                <i onclick="setRating(this)" id="star2" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>
                                <i onclick="setRating(this)" id="star3" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>
                                <i onclick="setRating(this)" id="star4" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>
                                <i onclick="setRating(this)" id="star5" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>

                            </div>
                        </div>

                        <div class="post-modal-ratings-half">

                            <div class="post-modal-ratings-quarter">
                                <p id="post-modal-date"></p>
                            </div>

                            <div class="post-modal-ratings-quarter">
                                <p id="post-modal-loc"></p>
                            </div>

                        </div>



                    </div>

                </div >



                <div id="post-modal-comments-container">

                    <ul id="post-modal-comments">

                    </ul>

                </div>

                <div id="post-modal-comment-input">

                    <div style="width: 80%; height: 100%;">

                        <input onkeydown="sendComment(event)" id="post-modal-comment-input-field" placeholder="Write something nice." autocomplete="off"/>

                    </div>

                    <div id="post-modal-send-button-container">
                        <span onclick="sendComment(event)" id="post-modal-send-button" class="bi bi-arrow-right-circle"></span>
                    </div>

                </div>
            </div>


        </div>
    </div>
<div class="container" style="position: relative;">
    <div class="user-images">

        <div class="post-card" th:each="image : ${postList}">

            <div class="post-card-top">
                <img class="post-card-image" onclick="onPostClicked(this)" th:src="${image.image}"  alt="AN ERROR TOOK PLACE LOADING THE PHOTO" th:attr="data-postid=${image.id}"/>
            </div>


            <div class="post-card-bottom">
                <div style="width: 100%; height: 80%;">
                    <p class="card-text" th:text="${image.title}"></p>
                </div>

                <div style="width: 100%; height: 20%;">
                    <p style="margin: 0; text-align: right;">
                        <i class="card-text"  th:text="${image.media}"></i>
                        <i class="bi bi-star"></i>
                    </p>
                </div>


            </div>
        </div>



    </div>




    <template>

        <li class="list-group-item" style="; border:none;">

            <div style="width: 100%; display: flex;" >

                <div style="width: 20%; display: flex; justify-content: center; align-items: center;">
                    <img class="comment-pfp" alt="pfp" src="https://new.reactionvrsports.com/wp-content/uploads/2020/11/ACCOUNT.png" />
                </div>

                <div style="width: 90%">
                    <p></p>
                </div>

            </div>

        </li>
    </template>



</div>
</body>
</html>