<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PersonalPage</title>

<!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>-->
<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>

    <link rel="stylesheet"  href="/css/styles.css"/>
    <script src="/js/postClick.js"></script>


</head>
<body class="foodiegram-bg">
<!-- Navigation -->

<script>
    function deleteCookies() {
        document.cookie = "loggedIn=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
    }
</script>

<nav class="navbar">

    <ul class="navbar-nav">

        <li class="nav-item">
            <h1 class="brand" style="font-size: 2rem;">𝓯𝓸𝓸𝓭𝓲𝓮𝓰𝓻𝓪𝓶</h1>
        </li>

        <li class="nav-item">

            <input class="form-control"  type="text" placeholder="Search" aria-label="Search" id="searchBar"/>

            <a id="searchButton" onclick="buscar(this)">
                <h4 class="bi bi-search"></h4>
            </a>
        </li>


        <li class="nav-item">


            <a class="nav-icon" th:href="@{/pruebas/upload}">
                <h4 class="bi bi-upload"></h4>
            </a>

            <a class="nav-icon" th:href="@{/pruebas/friends}">
                <h4 class="bi bi-people"></h4>
            </a>

            <a class="nav-icon" onclick="deleteCookies()" th:href="@{/pruebas}">
                <h4 class="bi bi-gear-wide-connected"></h4 >
            </a>

        </li>




    </ul>


</nav>

<div style="display: block; height: 150px;">

</div>

<div style="display: flex; justify-content: center; width: 100%;">

    <div style="width: 60%; display: flex; justify-content: center;">

        <div style="width: max(15vh, 200px); height: max(15vh, 200px);">
            <div style="width: 50%; height: 100%; background-color: #343a40; transform: translateX(100%);">
            </div>
            <img th:src="${user.image}" alt="ERROR" style="border-radius: 50%; height: 100%; width: 100%; transform: translateY(-100%); user-select: none;"/>

        </div>


        <div style="height: max(15vh, 200px); display: flex; align-items: center; background-color: #343a40; border-top-right-radius: 20px; border-bottom-right-radius: 20px; transform: translateX(-1px);">
            <h1 th:text="${user.name}" style="color: white; margin: 10px; user-select: none;"></h1>
        </div>

    </div>

</div>


<div style="display: block; height: 40px;">

</div>

<!-- Page Content -->
<div class="container" style="position: relative;">

    <div id="page-mask">

        <div id="post-modal">

            <img class="modal-click-box" id="post-modal-image"/>

            <div class="modal-click-box" id="post-modal-right">

                <div id = "post-modal-details">

                    <h4 id="post-modal-title"></h4>


                    <div style="width: 100%; height: 30%; bottom: 0; position: absolute;">

                        <div style="width: 50%; height: 100%; position: absolute; left: 0;">

                            <div style="width: 100%; height: 50%; top: 0; position: absolute;">
                                <p id="post-modal-ratings"></p>
                            </div>

                            <div id="post-modals-stars" style="width: 100%; height: 50%; bottom: 0; position: absolute;" >
                                <p style="margin-left: 5px;">
                                    <i onclick="setRating(this)" id="star1" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>
                                    <i onclick="setRating(this)" id="star2" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>
                                    <i onclick="setRating(this)" id="star3" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>
                                    <i onclick="setRating(this)" id="star4" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>
                                    <i onclick="setRating(this)" id="star5" class="bi bi-star" style="cursor: pointer; z-index: 1;"></i>
                                </p>
                            </div>
                        </div>

                        <div style="width: 50%; height: 100%; position: absolute; right: 0;">

                            <div style="width: 100%; height: 50%; top: 0; position: absolute;">
                                <p id="post-modal-date"></p>
                            </div>

                            <div style="width: 100%; height: 50%; bottom: 0; position: absolute;">
                                <p id="post-modal-loc"></p>
                            </div>

                        </div>

                    </div>



                </div >



                <div id="post-modal-comments-container">

                    <ul id="post-modal-comments" style="padding-top: 10px;">

                    </ul>

                </div>

                <div id="post-modal-comment-input">

                    <div style="width: 80%; height: 100%;">
                        <label style="width: 100%; height: 100%">
                            <input onkeydown="sendComment(event)" id="post-modal-comment-input-field" placeholder="Write something nice." autocomplete="off" style="width: 100%; height: 100%; border: none; padding-left: 10px;"/>
                        </label>
                    </div>

                    <div id="post-modal-send-button-container">
                        <span onclick="sendComment(event)" id="post-modal-send-button" class="bi bi-arrow-right-circle"></span>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div th:if="${postList.empty}">
        <p class="text-center text-white"> Upload Posts! </p>
    </div>


    <div class="cards user-images">

        <div class="card text-white bg-dark border-dark post-card" th:each="image : ${postList}">

            <div style="width: 100%; height: 60%">
                <img class="card-img-top post-card-image" onclick="onPostClicked(this)" th:src="${image.image}"  alt="AN ERROR TOOK PLACE LOADING THE PHOTO" th:attr="data-postid=${image.id}"/>
            </div>


<!--            <div class="card-body">-->
<!--                <p class="card-text" th:text="${image.text}"></p>-->
<!--                <div style="position: absolute;bottom: -10px;right: 10px;">-->
<!--                    <p>-->
<!--                        <i class="card-text"  th:text="${image.media}"></i>-->
<!--                        <i class="bi bi-star"></i>-->
<!--                    </p>-->
<!--                </div>-->


<!--            </div>-->
        </div>

    </div>


    <template>

        <li class="list-group-item" style=" padding-left: 0; padding-top: 2px; border:none;">

            <div style="width: 100%; display: flex;" >

                <div style="width: 20%; display: flex; justify-content: center">
                    <!--                    <img class="comment-pfp" alt="pfp" src="https://new.reactionvrsports.com/wp-content/uploads/2020/11/ACCOUNT.png" />-->
                    <img class="comment-pfp" alt="pfp" src="https://new.reactionvrsports.com/wp-content/uploads/2020/11/ACCOUNT.png" />
                </div>

                <div style="width: 90%">
                    <p></p>
                </div>

            </div>

        </li>
    </template>

</div>
</body>
</html>